@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
	font-family: 'Muli', sans-serif;
	overflow: hidden;
	margin: 0;
	background: #111;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.container {
	width: 100%;
	display: flex;
	padding: 0 20px;
}
.slide {
	height: 100vh;
	border-radius: 20 px;
	 margin: 10 px;
	 cursor: pointer;
	 color: #fff;
	 
}